<div class="row" id="topRow">
    <div class="col-lg-12" style = "margin-top: -20px">
        <center><h1 class="page-header" style="color: #420911">
            <b> New Debrief </b>
        </h1>
        </center>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-edit"></i> New Debrief
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->


<form role="form">

    <div class="row" style="margin-left: 1px; margin-right: 1px">
        <div class="form-group">
            <h2>Title</h2>
            <input class="form-control" ng-model="titleContext.title" space-hit-counter-title="sendTitle()" ng-blur="sendTitle()" placeholder="Debrief Title">
        </div>
    </div>

    <div class="row" style="margin-left: 1px; margin-right: 1px">
        <div>
            <img src="../resources/images/group.png" width="40" height="40" style="margin-bottom: 8px">
            <label style="margin-bottom: -10px"><h3>Groups</h3></label>
            <br>
            <small> Choose the groups that relevant for your debrief: </small>
            <!--<input class="form-control" ng-model="titleContext.groups">-->
            <br>
            <select multiple class="form-control" name="groupSelect" id="groupSelect" ng-model="selectedGroups">
                <option ng-repeat="group in groups">{{group}}</option>
            </select>
            <br>
            <p></p>
            <button type="button" class="btn btn-primary btn-xs" ng-click="generateUsers()">Rank Users</button>
            <p></p>

            <ul class="list-inline" >
                <li ng-repeat="user in titleContext.generatedUsers" style= "padding-right: 0px">
                    {{user.user}}
                    <select class="form-control" ng-model="user.rank" ng-options="rank for rank in [1,2,3]" ng-init="user.rank=1">
                    </select>
                </li>
            </ul>


        </div>
    </div>

    <!--groups:{{titleContext.groups}}-->

    <div class="row">
        <label ng-if="titleContext.recommendations.length > 0">Similar Debriefs</label>
        <div ng-repeat="recommendedDebrief in titleContext.recommendations">
            <!-- <a class="tag" ng-href='/debrief/view/{{recommendedDebrief.id}}' my-target> {{recommendedDebrief.title}} </a> -->
            <a href="" class="tag" ng-click='redirectToDebrief(recommendedDebrief.id)'> {{recommendedDebrief.title}} </a>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <label ng-if="titleContext.tags.length > 0">Tags</label>
            <ul class="tags">
                <li><label class="tag" ng-repeat="tag in titleContext.tags">{{tag}}</label></li>
            </ul>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-12">
            <a href="/dashboard" class="btn btn-primary btn-lg" role="button">Cancel</a>
            <a ng-click="whatHappened()" class="btn btn-success btn-lg" role="button" style="float:right">What Happened &raquo; </a>
        </div>
    </div>
<br>
</form>
