<div class="row" id="topRow">
    <div class="col-lg-12" style = "margin-top: -20px">
        <center>
        <h1 class="page-header" style="color: #420911">
            <b>New Debrief</b>
        </h1>
        </center>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-edit"></i> New Debrief
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->


<form role="form">

    <div class="row" style="margin-left: 1px; margin-right: 1px">
        <div class="form-group" >
            <label>What</label>
            	<textarea rows = "5" class="form-control" ng-model="whatContext.what" space-hit-counter-what="sendWhat()" ng-blur="sendWhat()" placeholder="Write here what heappend...">
            	</textarea> 
        </div>
    </div>

    <div class="row">
        <label ng-if="whatContext.recommendations.length > 0">Similar Debriefs</label>
        <div ng-repeat="recommendedDebrief in whatContext.recommendations">              
            <!-- <a class="tag" ng-href='/debrief/view/{{recommendedDebrief.id}}' my-target> {{recommendedDebrief.title}} </a> -->
            <a href="" class="tag" ng-click='redirectToDebrief(recommendedDebrief.id)'> {{recommendedDebrief.title}} </a>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <label ng-if="whatContext.tags.length > 0">Tags</label>
            <ul class="tags">
              <li><label class="tag" ng-repeat="tag in whatContext.tags">{{tag}}</label></li>
            </ul>
        </div>
    </div>

    <!--groups:{{titleContext.groups}}-->
    
    <div class="row">

        <div class="col-lg-12">     
            <a href="/debrief/title" class="btn btn-primary btn-lg" role="button">&laquo; Back</a>
            <!-- <a href='/debrief/group_phase' class="btn btn-success btn-lg" role="button" ng-click="addDebrief()" style="float:right">Publish </a> -->
            <a href='' class="btn btn-success btn-lg" role="button" ng-click="addDebrief()" style="float:right"> Publish </a>
        </div>
    </div>
    <br>
                
</form>
