<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">


        <ol class="breadcrumb" style="margin-top: 10px">
            <li class="active">
                <i class="fa fa-dashboard"></i> Dashboard
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <h1 class="text-center" style="color: #54878D"><b>De Briefer</b></h1>
    <br>
     <center><img class="img-rounded" src="../resources/images/dashboard.png" style="width : 50%"></center>

  <!--  <div class="col-lg-6">
      <p class="text-left"><a href="#" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a>
      </p>
    </div>

    <div class="col-lg-6">
      <p class="text-right"><a href="/debrief" class="btn btn-success btn-lg" role="button">New Debrief &raquo;</a>
      </p>
    </div>-->

    <p><span><br></span>
    </p>
</div>